# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 2
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{diff,patch}]
trim_trailing_whitespace = false

[{*.{do,sh},.gitconfig,gitconfig}]
indent_style = tab
indent_size = tab

[*.go]
indent_style = tab
indent_size = tab
tab_width = 4

[*.py]
indent_size = 4
max_line_length = 79

[*.rs]
indent_size = 4
max_line_length = 99

[*.txt]
indent_style = tab
indent_size = tab
trim_trailing_whitespace = false

[LICENSE]
indent_size = 5
max_line_length = 78
