*+
*-
*.core
*.log
*.new
*.tmp
*{new}
*{tmp}
*~
.redo/
/.*.scores
/.*history
/.cache/
/.cargo/
/.forward
/.hack/
/.local/
/.ssh/
/bin/
/etc/secret/
/mbox
/src/ext/
/src/go/
/src/rust/*.binary
/src/rust/*/
/tmp/
